# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.vscode/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# End of https://www.toptal.com/developers/gitignore/api/eclipse
Debug/STM32F4.elf
Debug/STM32F4.hex
Debug/STM32F4.list
Debug/STM32F4.map
Debug/Core/Src/main.d
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.d
Debug/Core/Src/stm32f4xx_hal_msp.o
Debug/Core/Src/stm32f4xx_hal_msp.su
Debug/Core/Src/stm32f4xx_it.d
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/stm32f4xx_it.su
Debug/Core/Src/syscalls.d
Debug/Core/Src/syscalls.o
Debug/Core/Src/syscalls.su
Debug/Core/Src/sysmem.d
Debug/Core/Src/sysmem.o
Debug/Core/Src/sysmem.su
Debug/Core/Src/system_stm32f4xx.d
Debug/Core/Src/system_stm32f4xx.o
Debug/Core/Src/system_stm32f4xx.su
Debug/Core/Startup/startup_stm32f401cbux.d
Debug/Core/Startup/startup_stm32f401cbux.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.su
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.d
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.o
Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.su
Debug/
Debug/Core/Src/subdir.mk
Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
